
<html>
	<head>
		<title>Chewie's and Gibb's blog</title>
	</head>
	<body>
		<!-- BODY TITLE -->
		<div>
			<h1>Chewie and Gibbs </h1>
		</div>
		
		<!-- IMAGES -->
		<div>
			<blockquote class="imgur-embed-pub" lang="en" data-id="KXGrzxz"><a href="//imgur.com/KXGrzxz">View post on imgur.com</a></blockquote><script async src="//s.imgur.com/min/embed.js" charset="utf-8"></script>
		</div>
		
		<!-- LINK TO BLOGS -->
		<div>
			<p> published: 2/3/2016 </p>
			<h2><a href="">THE FIRST POST </a></h2>
			<p> The most important things
		
		</div>
		
	</body>
</html>